<h1><%= @book.title %></h1>
<p><%= @book.author %></p>
<p><%= @book.publisher %></p>
<p><%= @book.synopsis %></p>
<p><%= number_to_currency(@book.price_cents / 100.00) %></p>
<p><%= @book.genre.name %></p>
<p>On Sale: <%= @book.on_sale ? 'Yes' : 'No' %></p>

<% if @book.image.attached? %>
  <%= image_tag @book.image, size: "300x300", alt: @book.title %>
<% else %>
  <p>No image available</p>
<% end %>

<!-- Check if the book is in the cart session -->
<% if session[:cart].include?(@book.id) %>
  <%= button_to cart_path(@book), method: :delete do %>
    Remove from cart
  <% end %>
<% end %>

  <%= form_with url: cart_index_path do %>
    <%= hidden_field_tag(:id, @book.id) %>
    <%= button_tag "Add to cart" %>
<% end %>

<%= form_with url: checkout_create_path, method: :post do %>
  <%= hidden_field_tag(:book_id, @book.id, autocomplete: "off") %>
  <%= button_tag "Buy Now" %>
  <% end %>
