<h1>New Product</h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <% @product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% @product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price_cents %><br>
    <%= form.number_field :price_cents %><br>
    <% @product.errors.full_messages_for(:price_cents).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :category_id, "Category" %><br>
    <%= form.collection_select(:category_id, Category.all, :id, :name, prompt: "Select a category") %><br>
    <% @product.errors.full_messages_for(:category_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <div>
  <%= form.label :on_sale %><br>
  <%= form.check_box :on_sale %>
</div>


<% end %>
